
// Preset Color Styles
@import "colors/presets";

// Global Styles
@import "global";

// Feature Styles
@import "feature";

// Service Area
@import "service";

// Navbar
@import "navbar";

// Hero Slider Area
@import "hero-area";

// Team Area
@import "team";

// Pricing Area
@import "pricing";

// Testimonial Area
@import "testimonials";

// Contact
@import "contact";

// Contact Area
@import "footer";

.custom-control {
  

    &.teleport-switch{
      --color: #4cd964;
      padding-left: 0;
  
      .teleport-switch-control-input{
        display: none;
        &:checked~.teleport-switch-control-indicator{
          border-color: var(--color);
  
          &::after{
            left: -14px;
          }
  
          &::before{
            right: 2px;
            background-color: var(--color);
          }
        }
        &:disabled~.teleport-switch-control-indicator{
          opacity: .4;
        }
      }
      .teleport-switch-control-indicator{
        display: inline-block;
        position: relative;
        margin: 0 10px;
        top: 4px;
        width: 32px;
        height: 20px;
        background: #fff;
        border-radius: 16px;
        transition: .3s;
        border: 2px solid #ccc;
        overflow: hidden;
  
        &::after{
          content: '';
          display: block;
          position: absolute;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          transition: .3s;
          top: 2px;
          left: 2px;
          background: #ccc;
        }
  
        &::before{
          content: '';
          display: block;
          position: absolute;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          transition: .3s;
          top: 2px;
          right: -14px;
          background: #ccc;
        }
      }
    }
  }